#jumbo{
    color: whitesmoke;
    background-color: transparent;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-image:url("../images/site/jumbo.jpg");
    padding-top: 0%;
   
}

/* responsivness */

@media (min-width: 576px) { 
    .frontCategory,.card{
        min-width: 80%;
  
    }
      
  }
  
  
  @media (min-width: 768px) { 
    .frontCategory,.card{
        min-width: 30%;
        max-width: 50%;
  }
  }
  
  @media (min-width: 992px) { 
    .frontCategory,.card{
    
   
        min-width: 20%;
        max-width:20%;
  }
  }
  
  @media (min-width: 1200px) { 
    .frontCategory,.card{
      width:20%;
    }
}

@media (max-width: 576px) { 
    #jumbo{
       display:none;
        }
    }
      
  
    @media (min-width: 768px) { 
        #jumbo{
           display:block;
            }
        }

        .navbar-brand{
            margin-right: 50px;
            margin-bottom: 0px;
        }

        .cardForm {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
          }
          
          @media (max-width: 576px) {
            .card-deck {
              display: flex;
              flex-flow: row wrap;
              margin-right: -15px;
              margin-left: - 15px;
            }
        }

       
      
        .specialH{
          text-align: center;
          display: block;
          margin-bottom: 25px;
         
         

        }
      
   

      .card-deck{
        justify-content: center;
      }
#modifyText{


  background-color: white;
  
  margin-left: 10px;

}

      
            

    #detailsProduct{
                border-color: darkgrey;
             
              }

      #detailsBlock{
        background-color: white;
        position: relative;
      }
      .secondPhoto{
       width: 30%;
       display:block;

  
        
      }
      .details{
       
     margin-top: 10 px ;
        margin-left: 20px;
        font-size: 1.4em;
        Padding: 20px;
        background-color: #fff;
        float: right;
        width:60%;
        margin-right: 20px;
        
             
        
        
        

      }